<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.test.getAPITest">
      	<methods>
      		<include name="getAPITestWithArrays"></include>
      	</methods>
      
      
      </class>  
      
       <!-- <class name="com.qa.test.postAPI"/> -->
      <!--  <class name="com.qa.test.deleteAPITest"/> -->
       <!-- <class name="com.qa.test.putAPITest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
