<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<!-- <parameter name="platform" value="Web" />
	<parameter name="browserName" value="chrome" /> -->



	<test  name="Test">
	
		<parameter name="browserName" value="chrome" />
		<parameter name="platform" value="Web" />
		<classes>
			<class name="Test.Flight">

				<methods>
					<include name="flightReservation"></include>
				</methods>

			</class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
